# Virtual environment
backend/.venv/

# Python
__pycache__
*.py[cod]

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Coverage
.coverage
htmlcov/

# db volume
data/

# Node
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/.eslintcache